* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Stanberry', sans-serif;
}

h4 {
    margin-bottom: 2em !important;
}



p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    line-height: 30px;
    color: #6c757d;
}



/* Navigation */

nav.r-nav {
    background: transparent;
    padding: 20px 0;
    transition: .5s all;
}

nav .navbar-brand {
    font-size: 1.875rem;
    color: #fff;
}

nav .navbar-nav li a {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 1rem;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

nav .navbar-nav li a:hover{
  color: white;
}

nav .navbar-nav li {
    margin-left: 15px;
}

nav.r-nav.stickyadd {
    background: #fff !important;
    padding: 15px 0;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    transition: .5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
    color: #000;
    font-size: 2.5rem;
    transition: .5s all;
}

nav.stickyadd .navbar-nav .nav-link {
    color: #000 !important;
}

.navbar .hamburger {
    color: #fff;

}

nav.stickyadd .hamburger {
    color: #000;

}

/* Header */


header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/flo30.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.header-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    max-width: 700px;
    color: #fff;
}

.content-box h4 {
    font-size: 1.875rem;
}

.content-box h1 {
    font-size: 3.25rem;
}

.content-box a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 25px;
}

.content-box a:hover {
    color: #000;
    background-color: #fff;
    transition: 0.5s all;
}

.name {
    color: #E96F85;
}

/* About Me */

.about li a {
    color: #000;
    display: inline-block;
    height: 42px;
    width: 42px;
    font-size: 20px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    line-height: 40px;
    transition: 0.5s all;
    text-align: center;
}

.about li a:hover {
    color: #EE8683;
    border: 2px solid #EE8683;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}


.container-form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.container-form:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
}

.contact-box {
    max-width: 850px;
    padding: 0 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url("img/logo2.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

h2.title-form {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

h2.title-form:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #19989d;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn-form {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #19989d;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn-form:hover {
    background-color: #19989d;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}

#logo {
    width: 10%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 3px;
    padding-left: 10px;
}








#portofolio {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#portofolio h1 {
    margin: 2em 0;
}

#portofolio .row {
    margin-bottom: 2em;
}

#portofolio iframe {
    max-width: 90vw;
}

html{
  scroll-behavior: smooth;
}